body {
  font-family: Helvetica, sans-serif;
  width: 100%;
}

.titreH1 {
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
}

@media (max-width: 800px) {
  body {
    width: 99%;
  }
}
.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav li {
  display: inline;
  margin-right: 3em;
  font-style: italic;
  padding: 1em;
  color: #1d1c1c;
}
.nav li a {
  color: #1d1c1c;
}
.nav li:hover {
  background-color: #d21a42;
  border-radius: 3px;
  color: white;
}
.nav li:hover a {
  color: white;
}
.nav a {
  text-decoration: none;
}

.nav2 {
  display: none;
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }

  .nav2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
  }
  .nav2 li {
    margin-right: 0em;
    font-style: italic;
    padding: 1em;
    color: #1d1c1c;
  }
  .nav2 li a {
    color: #1d1c1c;
  }
  .nav2 li:hover {
    background-color: #d21a42;
    border-radius: 3px;
    width: 31%;
    color: white;
  }
  .nav2 li:hover a {
    color: white;
  }
  .nav2 a {
    text-decoration: none;
  }

  .sous2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 9.4em;
    left: 11em;
    list-style-type: none;
    background-color: black;
    border-radius: 2px;
    width: 150px;
    height: 15em;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sous2 li {
    font-style: normal;
    margin: 0;
    font-size: 12px;
  }

  #dropdown2:hover .sous2 {
    display: flex;
  }
}
.sous {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 9.5em;
  list-style-type: none;
  background-color: black;
  border-radius: 2px;
  width: 150px;
  height: 15em;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.sous li {
  font-style: normal;
  margin: 0;
  font-size: 12px;
}

#dropdown:hover .sous {
  display: flex;
}

@media (max-width: 1600px) {
  .sous {
    left: 28.5em;
  }
}
@media (max-width: 1400px) {
  .sous {
    left: 26.5em;
  }
}
@media (max-width: 1350px) {
  .sous {
    left: 25em;
  }
}
@media (max-width: 1250px) {
  .sous {
    left: 23.5em;
  }
}
@media (max-width: 1200px) {
  .sous {
    left: 2em;
  }
}
@media (max-width: 1180px) {
  .sous {
    left: 21em;
  }
}
@media (max-width: 1150px) {
  .sous {
    left: 19.5em;
  }
}
@media (max-width: 1110px) {
  .sous {
    left: 18em;
  }
}
@media (max-width: 1075px) {
  .sous {
    left: 16em;
  }
}
@media (max-width: 1024px) {
  .sous {
    left: 15.4em;
  }
}
@media (max-width: 990px) {
  .sous {
    left: 14em;
  }
}
@media (max-width: 900px) {
  .sous {
    left: 12em;
  }
}
.burger {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 35px;
  top: 35px;
  width: 25px;
  height: 15px;
  display: none;
  background-color: #dfdfdf;
  opacity: 0.5;
  padding: 0.5em;
  border-radius: 5px;
}
.burger .btnBur {
  display: flex;
  justify-content: center;
  padding-left: 0.1em;
}

@media (max-width: 800px) {
  .burger {
    display: block;
  }
}
.banniere {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background: #e1eec3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e1eec3, #f05053);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e1eec3, #f05053);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 800px) {
  .banniere {
    height: 300px;
  }
}
.slogant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d1c1c;
  color: white;
  border-radius: 5px;
  padding: 1em;
  width: 40%;
}
.slogant strong {
  font-size: 32px;
}
.slogant p {
  color: #d21a42;
  font-size: 24px;
}

@media (max-width: 800px) {
  .slogant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1d1c1c;
    color: white;
    border-radius: 0px;
    padding: 0;
    width: 100%;
    height: 10em;
  }
  .slogant strong {
    font-size: 20px;
  }
  .slogant p {
    color: #d21a42;
    font-size: 15px;
  }
}
.img-on {
  width: 160px;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.present1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25em;
  width: 20em;
  margin: 0.7em;
}
.content p {
  text-align: center;
  line-height: 1.5em;
  color: #979494;
}

#eclere {
  box-shadow: -10px 0px 10px -10px #a8a6a6, 10px 0px 10px -10px #a8a6a6;
}

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.bouton #start {
  background-color: #d21a42;
  border-color: #d21a42;
  width: 14em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-right: 0.5em;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.bouton #more {
  background-color: #1d1c1c;
  border-color: #1d1c1c;
  width: 14em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-left: 0.5em;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

@media (max-width: 800px) {
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    margin-right: 0 !important;
    padding: 0.8em;
    width: 95%;
  }

  .present1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .parametre {
    width: 100%;
  }

  #eclere {
    box-shadow: 0px 0px 0px 0px white, 0px 0px 0px 0px white;
    border-bottom: 2px solid #a8a6a6;
  }

  #p1 {
    border-bottom: 2px solid #a8a6a6;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26em;
    width: 100%;
    margin: 0.1em;
  }

  .bouton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;
  }
  .bouton #start {
    width: 90%;
    margin-right: 0;
    margin-bottom: 0.5em;
  }
  .bouton #more {
    width: 90%;
    margin-left: 0;
  }
}
.port {
  background-color: #eff0f5;
  padding-top: 1.5em;
  padding-bottom: 4em;
  border-top: 0.1rem rgba(141, 141, 141, 0.8) solid;
}
.port h3 {
  text-align: center;
}
.port h3 span {
  padding-left: 2em;
  padding-right: 2em;
}
.port h3:before,
.port h3:after {
  content: "";
  width: 22em;
  border-bottom: 0.1rem rgba(141, 141, 141, 0.8) solid;
  display: inline-block;
  vertical-align: middle;
}
.port .containerPort {
  display: flex;
  justify-content: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  grid-gap: 25px;
}
.portfolio p {
  line-height: 1.5em;
  color: #979494;
}

.projetPortfolio {
  background-color: #ffffff;
}
.projetPortfolio img {
  width: 100%;
  height: 19em;
}
.projetPortfolio .textePort {
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: 2em;
}
.projetPortfolio .textePort button {
  background-color: #1d1c1c;
  border-color: #1d1c1c;
  width: 10em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

@media (max-width: 800px) {
  .portfolio {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 20em);
    grid-gap: 0px;
  }

  .projetPortfolio {
    border-bottom: 2px solid #a8a6a6;
    margin-bottom: 0.5em;
  }
  .projetPortfolio img {
    width: 100%;
    height: 16em;
  }
  .projetPortfolio .textePort button {
    background-color: #1d1c1c;
    border-color: #1d1c1c;
    width: 100%;
    color: white;
    font-size: 1em;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0.2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    text-align: center;
    padding-bottom: 1.5em;
  }
  h3 span {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .port {
    padding-bottom: 1em;
  }
  .port h3:before,
.port h3:after {
    content: "";
    width: 20%;
  }
}
.blocBtn {
  display: flex;
  justify-content: flex-start;
}

.blog {
  background-color: #eff0f5;
}
.blog h3 {
  text-align: center;
  margin: 0;
}
.blog h3 span {
  padding-left: 2em;
  padding-right: 2em;
}
.blog h3:before,
.blog h3:after {
  content: "";
  width: 22em;
  border-bottom: 0.1rem rgba(141, 141, 141, 0.8) solid;
  display: inline-block;
  vertical-align: middle;
}

.contentBlog {
  display: grid;
  grid-template-columns: repeat(2, 32em);
  grid-gap: 25px;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
.contentBlog p {
  line-height: 1.5em;
  color: #979494;
}
.contentBlog .projetBlog {
  background-color: #ffffff;
}
.contentBlog .projetBlog img {
  width: 100%;
  height: 19em;
}
.contentBlog .projetBlog small {
  font-style: italic;
  color: #979494;
}
.contentBlog .blogCt {
  padding-top: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

#btnBlack {
  background-color: #1d1c1c;
  border-color: #1d1c1c;
  width: 10em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

#btnPink {
  background-color: #d21a42;
  border-color: #d21a42;
  width: 12em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-right: 5px;
}

i {
  font-style: white;
  opacity: 0.6;
  margin-right: 5px;
}

@media (max-width: 800px) {
  .blocBtn {
    display: block;
    justify-content: center;
  }

  .contentBlog {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 20em);
    grid-gap: 0px;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
  }
  .contentBlog .blogCt {
    width: 90%;
    padding-top: 1em;
    padding-left: 24px;
    padding-right: 0;
    padding-bottom: 1.5em;
    margin: 0;
  }
  .contentBlog .blogCt p {
    width: 95%;
  }
  .contentBlog h2 {
    font-size: 22px;
  }
  .contentBlog .projetBlog {
    border-bottom: 2px solid #a8a6a6;
    margin-bottom: 1em;
  }
  .contentBlog .projetBlog img {
    width: 100%;
    height: 16em;
  }

  h3 {
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
  }
  h3 span {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 1px !important;
  }

  .blog h3:before,
.blog h3:after {
    content: "";
    width: 20%;
  }

  .blocBtn {
    text-align: center;
  }

  #btnBlack {
    width: 100%;
  }

  #btnPink {
    margin-bottom: 4px;
    width: 100%;
    margin-right: 0px;
  }
}
.liens {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}
.liens h2 {
  margin-top: 0;
  padding-top: 0;
}
.liens ul {
  list-style: none;
}

.carre {
  background-image: url("/images/arrow.png");
  width: 50px;
  height: 50px;
  margin-top: 0.5em;
}
.carre p {
  padding-left: 0.5em;
  padding-top: 0em;
  margin: 0;
  font-style: bold;
  color: white;
}

.logoArr p {
  font-size: 14px;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

.listeLien li {
  padding-top: 0.5em;
}
.listeLien li p {
  line-height: 1.2em;
}

.bloc {
  display: flex;
  flex-direction: row;
  padding-top: 1.5em;
}
.bloc .textlien {
  padding-top: 1px;
}
.bloc .textlien p {
  padding-top: 0;
}
.bloc .textlien em {
  font-style: normal;
  color: white;
  opacity: 0.6;
}

.lienImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lienImage .explain {
  width: 30em;
  padding-top: 1em;
  padding-left: 1em;
}
.lienImage .explain p {
  opacity: 0.6;
}
.lienImage .explain img {
  width: 100%;
  height: 19em;
}
.lienImage .explain button {
  background-color: #d21a42;
  border-color: #d21a42;
  width: 12em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.bloc_under {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 1em;
  padding-left: 5em;
  margin-bottom: 2em;
}
.bloc_under ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bloc_under li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.bloc_under .marge {
  padding-left: 5.5em;
}
.bloc_under .margeAdress {
  padding-left: 1em;
}
.bloc_under .marMail {
  padding-left: 2.8em;
}
.bloc_under .marTel {
  padding-left: 1.5em;
}
.bloc_under i {
  font-size: 3em;
  font-style: white;
}
.bloc_under #twitter {
  color: #2051f3;
}
.bloc_under #tum {
  color: #db0707;
}
.bloc_under #insta {
  color: #fd7c12;
}

.part_footer {
  color: white;
  background-color: #1a1919;
  padding-bottom: 2em;
}
.part_footer a {
  color: white;
  opacity: 0.6;
}

.reserve {
  text-align: center;
  padding: 0.1em;
  margin-top: 5em;
  width: 20em;
  border-radius: 5px;
  background-color: rgba(37, 36, 36, 0.88);
  margin: auto;
}

@media (max-width: 800px) {
  .bloc_under {
    display: grid;
    grid-template-columns: repeat(1, 20em);
    grid-gap: 0px;
    justify-content: center;
    margin-top: 1em;
    padding-left: 0;
    margin-bottom: 2em;
  }

  .lienImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lienImage .explain {
    width: 20em;
    padding-top: 1em;
    padding-left: 0;
  }
  .lienImage .explain img {
    width: 100%;
    height: 16em;
  }
  .lienImage .explain p {
    width: 95%;
  }
  .lienImage .explain button {
    text-align: center;
    width: 100%;
  }

  .part_footer {
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 0;
  }

  .liens {
    padding: 1em;
  }

  .carre {
    padding-right: 0.5em;
    margin-right: 0.5em;
    margin-top: 10px;
  }

  .reserve {
    text-align: center;
    width: 12em;
    border-radius: 5px;
    background-color: rgba(37, 36, 36, 0.88);
    margin: auto;
  }
  .reserve em {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
