body {
  font-family: Helvetica, sans-serif;
  width: 100%;
}
.titreH1 {
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
}
@media (max-width: 800px) {
  body {
    width: 99%;
  }
}

//Navigation balise

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;

  li {
    display: inline;
    margin-right: 3em;
    font-style: italic;
    padding: 1em;

    color: rgb(29, 28, 28);

    a {
      color: rgb(29, 28, 28);
    }
  }
  li:hover {
    background-color: #d21a42;
    border-radius: 3px;

    color: white;
    a {
      color: white;
    }
  }
  a {
    text-decoration: none;
  }
}
.nav2 {
  display: none;
}
@media (max-width: 800px) {
  .nav {
    display: none;
  }
  .nav2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;

    li {
      margin-right: 0em;
      font-style: italic;
      padding: 1em;

      color: rgb(29, 28, 28);

      a {
        color: rgb(29, 28, 28);
      }
    }
    li:hover {
      background-color: #d21a42;
      border-radius: 3px;
      width: 31%;

      color: white;
      a {
        color: white;
      }
    }
    a {
      text-decoration: none;
    }
  }
  .sous2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 9.4em;
    left: 11em;
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    width: 150px;
    height: 15em;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    li {
      font-style: normal;
      margin: 0;
      font-size: 12px;
    }
  }
  #dropdown2:hover {
    .sous2 {
      display: flex;
    }
  }
}

// partie desktop

.sous {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 9.5em;
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  width: 150px;
  height: 15em;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  li {
    font-style: normal;
    margin: 0;
    font-size: 12px;
  }
}
#dropdown:hover {
  .sous {
    display: flex;
  }
}

// réglage écran menu Dropdown
@media (max-width: 1600px) {
  .sous {
    left: 28.5em;
  }
}
@media (max-width: 1400px) {
  .sous {
    left: 26.5em;
  }
}
@media (max-width: 1350px) {
  .sous {
    left: 25em;
  }
}
@media (max-width: 1250px) {
  .sous {
    left: 23.5em;
  }
}
@media (max-width: 1200px) {
  .sous {
    left: 2em;
  }
}
@media (max-width: 1180px) {
  .sous {
    left: 21em;
  }
}
@media (max-width: 1150px) {
  .sous {
    left: 19.5em;
  }
}
@media (max-width: 1110px) {
  .sous {
    left: 18em;
  }
}
@media (max-width: 1075px) {
  .sous {
    left: 16em;
  }
}
@media (max-width: 1024px) {
  .sous {
    left: 15.4em;
  }
}
@media (max-width: 990px) {
  .sous {
    left: 14em;
  }
}
@media (max-width: 900px) {
  .sous {
    left: 12em;
  }
}

//fin réglage écran pour le menu

//bouton hamburguers

.burger {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 35px;
  top: 35px;
  width: 25px;
  height: 15px;
  display: none;
  background-color: #dfdfdf;
  opacity: 0.5;
  padding: 0.5em;
  border-radius: 5px;

  .btnBur {
    display: flex;
    justify-content: center;
    padding-left: 0.1em;
  }
}

@media (max-width: 800px) {
  .burger {
    display: block;
  }
}

//fin de la nav

//Bannière

.banniere {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e1eec3,
    #f05053
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e1eec3,
    #f05053
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (max-width: 800px) {
  .banniere {
    height: 300px;
  }
}

// slogant

.slogant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(29, 28, 28);
  color: white;
  border-radius: 5px;
  padding: 1em;
  width: 40%;

  strong {
    font-size: 32px;
  }
  p {
    color: #d21a42;
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .slogant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(29, 28, 28);
    color: white;
    border-radius: 0px;
    padding: 0;
    width: 100%;
    height: 10em;

    strong {
      font-size: 20px;
    }
    p {
      color: #d21a42;
      font-size: 15px;
    }
  }
}

// fin de la bannière

//Partie présentation

.img-on {
  width: 160px;
}
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.present1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25em;
  width: 20em;
  margin: 0.7em;

  p {
    text-align: center;
    line-height: 1.5em;
    color: rgb(151, 148, 148);
  }
}
#eclere {
  box-shadow: -10px 0px 10px -10px rgb(168, 166, 166),
    10px 0px 10px -10px rgb(168, 166, 166);
}
.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;

  #start {
    background-color: #d21a42;
    border-color: #d21a42;
    width: 14em;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-right: 0.5em;
    box-shadow: none;
    border-radius: 0.2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  #more {
    background-color: rgb(29, 28, 28);
    border-color: rgb(29, 28, 28);
    width: 14em;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
    box-shadow: none;
    border-radius: 0.2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
}

@media (max-width: 800px) {
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    margin-right: 0 !important;
    padding: 0.8em;
    width: 95%;
  }
  .present1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .parametre {
    width: 100%;
  }
  #eclere {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255),
      0px 0px 0px 0px rgb(255, 255, 255);
    border-bottom: 2px solid rgb(168, 166, 166);
  }
  #p1 {
    border-bottom: 2px solid rgb(168, 166, 166);
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26em;
    width: 100%;
    margin: 0.1em;
  }
  .bouton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;

    #start {
      width: 90%;
      margin-right: 0;
      margin-bottom: 0.5em;
    }
    #more {
      width: 90%;
      margin-left: 0;
    }
  }
}

//fin de présentation

//Partie portfolio

.port {
  background-color: rgb(239, 240, 245);
  padding-top: 1.5em;
  padding-bottom: 4em;
  border-top: 0.1rem rgba(141, 141, 141, 0.8) solid;

  h3 {
    text-align: center;
    span {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  h3:before,
  h3:after {
    content: "";
    width: 22em;
    border-bottom: 0.1rem rgba(141, 141, 141, 0.8) solid;
    display: inline-block;
    vertical-align: middle;
  }
  .containerPort {
    display: flex;
    justify-content: center;
  }
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  grid-gap: 25px;

  p {
    line-height: 1.5em;
    color: rgb(151, 148, 148);
  }
}
.projetPortfolio {
  background-color: #ffffff;

  img {
    width: 100%;
    height: 19em;
  }
  .textePort {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 2em;

    button {
      background-color: rgb(29, 28, 28);
      border-color: rgb(29, 28, 28);
      width: 10em;
      color: white;
      font-size: 1em;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0.2em;
      padding-top: 0.6em;
      padding-bottom: 0.6em;
    }
  }
}
@media (max-width: 800px) {
  .portfolio {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 20em);
    grid-gap: 0px;
  }
  .projetPortfolio {
    border-bottom: 2px solid rgb(168, 166, 166);
    margin-bottom: 0.5em;

    img {
      width: 100%;
      height: 16em;
    }
    .textePort {
      button {
        background-color: rgb(29, 28, 28);
        border-color: rgb(29, 28, 28);
        width: 100%;
        color: white;
        font-size: 1em;
        font-weight: bold;
        box-shadow: none;
        border-radius: 0.2em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
      }
    }
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    text-align: center;
    padding-bottom: 1.5em;

    span {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  .port {
    padding-bottom: 1em;
    h3:before,
    h3:after {
      content: "";
      width: 20%;
    }
  }
}

//Fin du portfolio

// Le blog

.blocBtn {
  display: flex;
  justify-content: flex-start;
}

.blog {
  background-color: rgb(239, 240, 245);

  h3 {
    text-align: center;
    margin: 0;
    span {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  h3:before,
  h3:after {
    content: "";
    width: 22em;
    border-bottom: 0.1rem rgba(141, 141, 141, 0.8) solid;
    display: inline-block;
    vertical-align: middle;
  }
}
.contentBlog {
  display: grid;
  grid-template-columns: repeat(2, 32em);
  grid-gap: 25px;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;

  p {
    line-height: 1.5em;
    color: rgb(151, 148, 148);
  }
  .projetBlog {
    background-color: #ffffff;

    img {
      width: 100%;
      height: 19em;
    }
    small {
      font-style: italic;
      color: rgb(151, 148, 148);
    }
  }
  .blogCt {
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
  }
}
#btnBlack {
  background-color: rgb(29, 28, 28);
  border-color: rgb(29, 28, 28);
  width: 10em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
#btnPink {
  background-color: #d21a42;
  border-color: #d21a42;
  width: 12em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-right: 5px;
}
i {
  font-style: white;
  opacity: 0.6;
  margin-right: 5px;
}
@media (max-width: 800px) {
  .blocBtn {
    display: block;
    justify-content: center;
  }
  .contentBlog {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 20em);
    grid-gap: 0px;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1.5em;

    .blogCt {
      width: 90%;
      padding-top: 1em;
      padding-left: 24px;
      padding-right: 0;
      padding-bottom: 1.5em;
      margin: 0;

      p {
        width: 95%;
      }
    }
    h2 {
      font-size: 22px;
    }
    .projetBlog {
      border-bottom: 2px solid rgb(168, 166, 166);
      margin-bottom: 1em;
      img {
        width: 100%;
        height: 16em;
      }
    }
  }
  h3 {
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
    span {
      padding-left: 10px !important;
      padding-right: 10px !important;
      padding-bottom: 1px !important;
    }
  }
  .blog {
    h3:before,
    h3:after {
      content: "";
      width: 20%;
    }
  }
  .blocBtn {
    text-align: center;
  }
  #btnBlack {
    width: 100%;
  }
  #btnPink {
    margin-bottom: 4px;
    width: 100%;
    margin-right: 0px;
  }
}

// partie footer

.liens {
  display: flex;
  flex-direction: column;
  padding-right: 1em;

  h2 {
    margin-top: 0;
    padding-top: 0;
  }

  ul {
    list-style: none;
  }
}
.carre {
  background-image: url("/images/arrow.png");
  width: 50px;
  height: 50px;
  margin-top: 0.5em;
  p {
    padding-left: 0.5em;
    padding-top: 0em;
    margin: 0;
    font-style: bold;
    color: white;
  }
}
.logoArr {
  p {
    font-size: 14px;
    padding-top: 0.5em;
    padding-right: 0.5em;
  }
}
.listeLien {
  li {
    padding-top: 0.5em;
    p {
      line-height: 1.2em;
    }
  }
}
.bloc {
  display: flex;
  flex-direction: row;
  padding-top: 1.5em;

  .textlien {
    padding-top: 1px;
    p {
      padding-top: 0;
    }
    em {
      font-style: normal;
      color: white;
      opacity: 0.6;
    }
  }
}
.lienImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .explain {
    width: 30em;
    padding-top: 1em;
    padding-left: 1em;
    p {
      opacity: 0.6;
    }
    img {
      width: 100%;
      height: 19em;
    }
    button {
      background-color: #d21a42;
      border-color: #d21a42;
      width: 12em;
      color: white;
      font-size: 1em;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0.2em;
      padding-top: 0.6em;
      padding-bottom: 0.6em;
    }
  }
}
.bloc_under {
  display: grid;
  grid-template-columns: repeat(3, 20em);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 1em;
  padding-left: 5em;
  margin-bottom: 2em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .marge {
    padding-left: 5.5em;
  }
  .margeAdress {
    padding-left: 1em;
  }
  .marMail {
    padding-left: 2.8em;
  }
  .marTel {
    padding-left: 1.5em;
  }

  i {
    font-size: 3em;
    font-style: white;
  }
  #twitter {
    color: rgb(32, 81, 243);
  }
  #tum {
    color: rgb(219, 7, 7);
  }
  #insta {
    color: rgb(253, 124, 18);
  }
}
.part_footer {
  color: white;
  background-color: rgb(26, 25, 25);
  padding-bottom: 2em;

  a {
    color: white;
    opacity: 0.6;
  }
}

// fin footer

.reserve {
  text-align: center;
  padding: 0.1em;
  margin-top: 5em;
  width: 20em;
  border-radius: 5px;
  background-color: rgba(37, 36, 36, 0.88);
  margin: auto;
}

// responsive footer

@media (max-width: 800px) {
  .bloc_under {
    display: grid;
    grid-template-columns: repeat(1, 20em);
    grid-gap: 0px;
    justify-content: center;
    margin-top: 1em;
    padding-left: 0;
    margin-bottom: 2em;
  }
  .lienImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .explain {
      width: 20em;
      padding-top: 1em;
      padding-left: 0;

      img {
        width: 100%;
        height: 16em;
      }
      p {
        width: 95%;
      }
      button {
        text-align: center;
        width: 100%;
      }
    }
  }
  .part_footer {
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 0;
  }
  .liens {
    padding: 1em;
  }
  .carre {
    padding-right: 0.5em;
    margin-right: 0.5em;
    margin-top: 10px;
  }
  .reserve {
    text-align: center;
    width: 12em;
    border-radius: 5px;
    background-color: rgba(37, 36, 36, 0.88);
    margin: auto;

    em {
      display: none;
    }
  }
}
